    {{ form_start(formFormation) }}
        <div class="row">
            <div class="col">             
                <div class="row">
                    <div class="col-auto">
                        {{ form_row(formFormation.publishedAt) }}
                    </div>
                    <div class="col">
                        {{ form_row(formFormation.title, {'label' : 'Titre'}) }}
                    </div>
                    <div class="col">
                        {{ form_row(formFormation.videoId, {'label' : 'id de la vidéo'}) }}
                    </div>
                </div>
                <br>
                {{ form_row(formFormation.description) }}
                <br>
                {{ form_row(formFormation.playlist) }}
                <br>
                {{ form_row(formFormation.categories, {'label' : 'Catégorie'}) }}
            </div>
        </div>        
    {{ form_end(formFormation) }}